<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.title}} - MetaICP | 元备</title>
    <link rel="stylesheet" type="text/css" href="/assets/global.css" />
    <meta name="keywords" content="元备,元ICP备,MetaICP,元备案,元ICP备案">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="元ICP备案">
    <meta property="og:title" content="元ICP备案">
    <meta property="og:description" content="欢迎各位站长，快来与小伙伴们一起申请一个元ICP备案号吧！">
    <meta name="description" content="关于元ICP备和它背后的更多故事……">
</head>

<body>
    <div class="app">
        <h1 class="header text" style="margin-top: 2.5rem;">About <span class="text-base">| 关于</span></h1>
        <div style="margin-top: 1rem; position: absolute; left: 50%; transform: translate(-50%, 0);" class="text">
            <h2>你好！</h2>
            <h2>这里是元 ICP 备案，简称元备。</h2>
            <h2>本名由“元宇宙”一词启发而来，旨在帮助更多互联网的小角落里的大大小小的站点让更多人所知。</h2>
            <h2>为网站多一份“标识”与乐趣！</h2>
            <h2>欢迎加入我们！</h2>
        </div>
    </div>
</body>

</html>